/* 输入框 */
.login-box {
	width: 320px;
	height: 82px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	margin: 20px auto;
	border: 2px solid #fff;
	cursor: pointer;
	font-size: 15px;
}

.login-box input {
	border: 1px solid #000;
}

.area {
	margin-top: 20px;
}

.area select {
	width: 240px;
}

.number {
	margin-top: 10px;
}

.number select {
	width: 240px;
}

.date {
	margin-top: 10px;
}

#user_date_year {
	width: 78px;
}

#user_date_moon {
	width: 78px;
}

#user_date_day {
	width: 75px;
}

.time {
	margin-top: 10px;
}

.time select {
	width: 240px;
}

.name {
	margin-top: 10px;
}

.name input {
	margin-left: 4px;
	width: 240px;
}

.phone {
	margin-top: 10px;
}

.phone input {
	margin-left: 4px;
	width: 240px;
}

.department {
	margin-top: 10px;
}

.department input {
	margin-left: 4px;
	width: 240px;
}

.purpose {
	margin-top: 10px;
}

.textarea {
	margin-top: -20px;
	margin-left: 70px;
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	
	width:150px;
}

.button-red {
	background-color: #f44336;
}